body{
    background-color: antiquewhite;
}

.heading{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.container {
    background-color: white;
    width: 30%;    /* Adjust the width as needed */
    height: 20%;   /* Adjust the height as needed */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  
#increase-button, #decrease-button, #reset-button {
  display: inline-block; /* Ensure buttons are visible */
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}